

.column {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border: 1px solid #3F7875;
    border-radius: 5px;
    color: #FF8762;
}

::deep #nombre {
    background-color: #C4FCEF;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    color: #5E3C9C;
    margin-bottom: 7px;
}

.normal {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
    
}

input, select {
    margin-bottom: 20px;
    margin-top: 20px;
    border:hidden;
    border-radius: 2px;
}

h3{
    margin-right: 4px;
}

.PyD {
    margin-bottom: 20px;
}

.title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 10px;
}

    
    .title > * {
        justify-self: center;
    }

    .title h4 {
        border-bottom: 1px solid #3F7875;
        padding-right: 5px;
        padding-left: 5px;
    }

.form-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px; /* Adjust the gap as needed */
    justify-content: center;
    border-bottom: 1px solid #3F7875;
}

    .form-container > div,
    .form-container > select,
    .form-container > button {
        flex: 1; /* Adjust the flex basis as needed */
    }

    
    .form-container > div {
        display: flex;
        align-items: center;
    }

    .form-container label {
        margin-right: 5px;
    }

    
    .form-container select,
    .form-container button {
        width: 80px;
    }

    
    .form-container input[type="number"] {
        width: 80px; 
    }

    .form-container input[type="text"]{
        width: 120px;
    }
    .form-container > div,
    .form-container > select,
    .form-container > button {
        flex-shrink: 0;
        flex-grow: 0;
    }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}