

.column {
    max-width: 38%;
    min-width: 320px;
    flex: 1;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.normal {
    display: flex;
    align-items: center;
}

h3{
    margin-right: 4px;
}