article {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    justify-content: center !important;
    justify-items: center !important;
    align-items: center !important;
    border-bottom: 1px solid #3F7875 !important;
    padding: 10px;
    color: #ddf8f1;
}

    article > * {
        justify-self: center !important;
    }

::deep input::-webkit-inner-spin-button,
::deep input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

::deep input {
    border: hidden;
    border-radius: 2px;
}

input[type=number] {
    -moz-appearance: textfield !important;
}

::deep i:hover {
    cursor: pointer !important;
}

::deep #debt-edit-form {
    display: inline-flex !important; /* or inline-block */
    flex-wrap: nowrap !important; /* Ensures items stay in a single row */
    align-items: center !important; /* Align items vertically */
    grid-column: 1 / 4 !important;
}

    ::deep input,
    ::deep input,
    ::deep file-selector-button {
        flex-shrink: 1 !important;
        max-width: 70px !important;
    }
