@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* /Components/ChargeControl.razor.rz.scp.css */
section[b-kpxijb7gfo] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.range[b-kpxijb7gfo] {
    max-width: 55%;
}

.inner-div[b-kpxijb7gfo] {
    text-align: center;
    display: flex;
    justify-content: center;
}

p[b-kpxijb7gfo] {
    margin: 0;
}

h5[b-kpxijb7gfo] {
    margin: 0
}

.switch[b-kpxijb7gfo] {
    position: relative;
    display: block;
    width: 40px;
    height: 20px; 
  }
  
  .switch input[b-kpxijb7gfo] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider[b-kpxijb7gfo] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px; 
  }
  
  .slider[b-kpxijb7gfo]:before {
    position: absolute;
    content: "";
    height: 16px; /* Reduced height */
    width: 16px; /* Reduced width */
    left: 2px; /* Adjusted position */
    bottom: 2px; /* Adjusted position */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; /* Rounded slider */
  }
  
  input:checked + .slider[b-kpxijb7gfo] {
    background-color: #2196F3;
  }
  
  input:focus + .slider[b-kpxijb7gfo] {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider[b-kpxijb7gfo]:before {
    -webkit-transform: translateX(20px); 
    -ms-transform: translateX(20px); 
    transform: translateX(20px); 
  }
/* /Components/ColumnaUsuario.razor.rz.scp.css */


.column[b-thzb36r6r1] {
    flex: 1;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.normal[b-thzb36r6r1] {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
    
}

input[b-thzb36r6r1] {
    margin-bottom: 20px;
    margin-top: 20px;
}

h3[b-thzb36r6r1]{
    margin-right: 4px;
}

.PyD[b-thzb36r6r1] {
    margin-bottom: 20px;
}

.title[b-thzb36r6r1] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

    
    .title > *[b-thzb36r6r1] {
        justify-self: center;
    }

    .title h4[b-thzb36r6r1] {
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding-right: 5px;
        padding-left: 5px;
    }

.form-container[b-thzb36r6r1] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px; /* Adjust the gap as needed */
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

    .form-container > div[b-thzb36r6r1],
    .form-container > select[b-thzb36r6r1],
    .form-container > button[b-thzb36r6r1] {
        flex: 1; /* Adjust the flex basis as needed */
    }

    
    .form-container > div[b-thzb36r6r1] {
        display: flex;
        align-items: center;
    }

    .form-container label[b-thzb36r6r1] {
        margin-right: 5px;
    }

    
    .form-container select[b-thzb36r6r1],
    .form-container button[b-thzb36r6r1] {
        width: 80px;
    }

    
    .form-container input[type="number"][b-thzb36r6r1] {
        width: 80px; 
    }

    .form-container input[type="text"][b-thzb36r6r1]{
        width: 120px;
    }
    .form-container > div[b-thzb36r6r1],
    .form-container > select[b-thzb36r6r1],
    .form-container > button[b-thzb36r6r1] {
        flex-shrink: 0;
        flex-grow: 0;
    }
/* /Pages/Home.razor.rz.scp.css */
nav[b-2ewkxwj2la] {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

main[b-2ewkxwj2la] {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.order-1[b-2ewkxwj2la] {
    order: 1;
    display: flex;
    width: 45%;
    min-width: 345px;
}

.order-2[b-2ewkxwj2la] {
    order: 2;
    display: flex;
    width: 45%;
    min-width: 345px;
}

section > h1[b-2ewkxwj2la] {
    text-align: center;
}

button[b-2ewkxwj2la] {
    background-color: #007bff; /* Bootstrap primary color for importance */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover[b-2ewkxwj2la] {
        background-color: #0056b3; /* Darker shade for hover effect */
    }

    button:active[b-2ewkxwj2la] {
        background-color: #003d82; /* Even darker shade for active/click effect */
        transform: translateY(2px); /* Slight push down effect */
    }
