nav[b-2ewkxwj2la] {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

main[b-2ewkxwj2la] {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.order-1[b-2ewkxwj2la] {
    order: 1;
    display: flex;
    width: 45%;
    min-width: 345px;
}

.order-2[b-2ewkxwj2la] {
    order: 2;
    display: flex;
    width: 45%;
    min-width: 345px;
}