.report-container[b-wa8yy699i7] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    text-align: center;
    padding: 15px;
    
}

    .report-container div[b-wa8yy699i7] {
        border: 1px solid black;
        border-radius: 5px;
        padding: 2rem;
        background-color: #5E3C9C;
        color: #ddf8f1;
    }

h1[b-wa8yy699i7] {
    border-bottom: 1px solid black;
    color: #ddf8f1;
    font-family: "Expletus Sans", sans-serif;
}

h1[b-wa8yy699i7], h2[b-wa8yy699i7], h3[b-wa8yy699i7], h4[b-wa8yy699i7], h5[b-wa8yy699i7] {
    padding: 10px;
}



.report-container button[b-wa8yy699i7] {
    margin-top: 20px; /* Adjust as needed */
}


[b-wa8yy699i7] button {
    margin-top: 15px;
    background-color: #C4FCEF; 
    color: #5E3C9C;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Sono", monospace;
}

    [b-wa8yy699i7] button:hover {
        background-color: #FF8762;
        color: #5E3C9C;
    }

    [b-wa8yy699i7] button:active {
        background-color: #003d82; 
        transform: translateY(2px); 
    }