nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.order-1 {
    order: 1;
    display: flex;
    width: 45%;
    min-width: 345px;
}

.order-2 {
    order: 2;
    display: flex;
    width: 45%;
    min-width: 345px;
}