
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    background-color: #C4FCEF;
    color: #845EC2;
    padding: 15px;
    margin: 0 auto;
    border-bottom: 1px solid #5E3C9C;
}

nav h1 {
    font-family: "Expletus Sans", sans-serif;
}



main {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #5E3C9C;
    width: 100%;
    border-bottom: 1px solid #5E3C9C;
}

.order-1 {
    order: 1;
    display: flex;
    width: 45%;
    min-width: 345px;
}

.order-2 {
    order: 2;
    display: flex;
    width: 45%;
    min-width: 345px;
}

section {
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

    section div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 250px;
    }

button {
    background-color: #FF8762;
    color: #5E3C9C;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    font-family: "Expletus Sans", sans-serif;
}

    button:hover {
        background-color: #C4FCEF; 
        color: #5E3C9C;
    }

    button:active {
        background-color: #003d82; /* Even darker shade for active/click effect */
        transform: translateY(2px); /* Slight push down effect */
    }


#no {
    background-color: red; /* Red base color */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    font-family: "Expletus Sans", sans-serif;
}

    #no:hover {
        background-color: #3F7875; /* Darker shade of red for hover effect */
    }

    #no:active {
        background-color: #990000; /* Even darker shade of red for active/click effect */
        transform: translateY(2px); /* Slight push down effect */
    }

.confirmation-dialog {
    background-color: #845EC2;
    padding: 5px;
    border-radius: 5px;
    color: #FF8762;
}
.confirmation-dialog p {
    padding: 5px;
    text-align: center;
    font-family: "Sono", monospace;
}

