nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.expenses-container {
    display: flex;
}

.expenses-column {
    flex: 1;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}