.report-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    text-align: center;
    padding: 15px;
    font-family: "Sono", monospace;
}

    .report-container div {
        border: 1px solid black;
        border-radius: 5px;
        padding: 2rem;
        background-color: #5E3C9C;
        color: #ddf8f1;
    }

h1 {
    border-bottom: 1px solid black;
    color: #FF8762;
    font-family: "Expletus Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
    padding: 10px;
}

h2 {
    color: #FF8762;
    font-family: "Expletus Sans", sans-serif;
}

    
    .report-container button {
        margin-top: 20px; 
    }


::deep button {
    background-color: #C4FCEF; 
    color: #5E3C9C;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Sono", monospace;
}

    ::deep button:hover {
        background-color: #FF8762;
        color: #5E3C9C;
    }

    ::deep button:active {
        background-color: #003d82; 
        transform: translateY(2px); 
    }